@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: var(--font-montserrat);
  color: var(--main-text-color);
  letter-spacing: 0.04em;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  padding: 0;
  font-family: inherit;
}
svg {
  display: block;
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}
