<!-- <div class="about__backdrop">
  <div class="about__modal-window container">
    <button type="button" class="about__modal-window-button">
      <svg aria-label="Хрестик закриття форми" class="about__icon-close">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="about__title">How it's made?</h2>
    <div class="about__video">
      <iframe
        class="about__movie"
        width="100%"
        src="https://www.youtube.com/embed/zagD0LQdsDE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="about__discribe">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div> -->

<!--modal-video -->
<div class="backdrop is-hidden" about-modal>
  <div class="modal-video">
    <button about-modal-close type="button" class="close-modal-btn">
      <svg
        width="20"
        height="20"
        aria-label="Хрестик закриття форми"
        class="about__icon-close"
      >
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-video_title">How it’s made?</p>
    <div class="modal-video_wrapper">
      <iframe
        class="modal-video_link"
        width="100%"
        src="https://www.youtube.com/embed/zagD0LQdsDE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <p class="modal-video_description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
