<div class="backdrop is-hidden" data-modal>
  <div class="location-modal container">
    <button type="button" class="location-close-btn" data-modal-close>
      <svg class="location-close-icon" width="16" height="16">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="location__title">Our Locations</h2>
    <iframe
      class="location__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.057873270101!2d-73.95692268459621!3d40.67269377933625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2spl!4v1665180996726!5m2!1sru!2spl"
      width="224"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      class="open-map-btn"
      href="https://goo.gl/maps/KMcQrdu6HiuvssRv9"
      target="_blank"
      >Open map</a
    >
  </div>
</div>
