<section class="section-contacts">
  <div class="container">
    <h2 class="section-contacts__header visually-hidden">Our Contacts</h2>
    <ul class="section-contacts__list list" id="contacts">
      <li class="section-contacts__element">
        <p class="section-contacts__name">Cafe</p>
        <p class="section-contacts__city">Chicago</p>
        <a
          href="https://goo.gl/maps/fwTgKNU3imjtPQiR9"
          class="section-contacts__address link"
          target="_blank"
          rel="noopener noreferrer"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <ul class="section-contacts__schedule-list list">
          <li class="section-contacts__schedule-element">
            <p class="section-contacts__days">Monday - Friday</p>
            <p class="section-contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li
            class="section-contacts__schedule-element section-contacts__schedule-element_border"
          >
            <p class="section-contacts__days">Saturday - Sunday</p>
            <p class="section-contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="section-contacts__contacts-list list">
          <li class="section-contacts__contacts-element">
            <a href="tel:+610383766284" class="section-contacts__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="section-contacts__contacts-element">
            <a
              href="mailto:noreply@envato.com"
              class="section-contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="section-contacts__element">
        <p class="section-contacts__name section-contacts__name_bigger">
          Food Truck
        </p>
        <p class="section-contacts__city">Los Angeles</p>
        <a
          href="https://goo.gl/maps/Fq18MCqFK55CK2wQ6"
          class="section-contacts__address link"
          target="_blank"
          rel="noopener noreferrer"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <ul class="section-contacts__schedule-list list">
          <li class="section-contacts__schedule-element">
            <p class="section-contacts__days">Monday - Friday</p>
            <p class="section-contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li
            class="section-contacts__schedule-element section-contacts__schedule-element_border"
          >
            <p class="section-contacts__days">Saturday - Sunday</p>
            <p class="section-contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="section-contacts__contacts-list list">
          <li class="section-contacts__contacts-element">
            <a href="tel:+610383766284" class="section-contacts__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="section-contacts__contacts-element">
            <a
              href="mailto:noreply@envato.com"
              class="section-contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="section-contacts__element">
        <p class="section-contacts__name">Cafe</p>
        <p class="section-contacts__city">New York</p>
        <a
          href="https://goo.gl/maps/j32MKypQcTN2Ecq26"
          class="section-contacts__address link"
          target="_blank"
          rel="noopener noreferrer"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <ul class="section-contacts__schedule-list list">
          <li class="section-contacts__schedule-element">
            <p class="section-contacts__days">Monday - Friday</p>
            <p class="section-contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li
            class="section-contacts__schedule-element section-contacts__schedule-element_border"
          >
            <p class="section-contacts__days">Saturday - Sunday</p>
            <p class="section-contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="section-contacts__contacts-list list">
          <li class="section-contacts__contacts-element">
            <a href="tel:+610383766284" class="section-contacts__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="section-contacts__contacts-element">
            <a
              href="mailto:noreply@envato.com"
              class="section-contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="section-contacts__btn-wrapper">
      <ul class="section-contacts__buttons-list list">
        <li class="section-contacts__buttons-element">
          <button type="button" class="btn btn_location" data-modal-open>
            Our Locations
            <svg class="section-contacts__btn-logo" aria-label="Arrow icon">
              <use href="./images/sprite.svg#icon-angle-right"></use>
            </svg>
          </button>
        </li>
        <li class="section-contacts__buttons-element">
          <button type="button" class="btn btn_franchise" modal-open>
            Franchise
            <svg class="section-contacts__btn-logo" aria-label="Arrow icon">
              <use href="./images/sprite.svg#icon-angle-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
