<section class="customer-reviews">
  <div class="container customer-reviews__container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <ul class="customer-reviews__list autoplay">
      <li class="customer-reviews__item">
        <img
          class="customer-reviews__img"
          srcset="
            ./images/mobile/customer-review-emily@1x.jpg 1x,
            ./images/mobile/customer-review-emily@2x.jpg 2x
          "
          src="./images/mobile/customer-review-emily@1x.jpg"
          alt="emily"
          width="85"
        />
        <p class="customer-reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
      </li>
      <li class="customer-reviews__item">
        <img
          class="customer-reviews__img"
          srcset="
            ./images/mobile/customer-review-sam@1x.jpg 1x,
            ./images/mobile/customer-review-sam@1x.jpg 2x
          "
          src="./images/mobile/customer-review-sam@1x.jpg"
          alt="sam"
          width="85"
        />
        <p class="customer-reviews__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <h3 class="customer-reviews__title">Sam, Los Angeles</h3>
      </li>
      <li class="customer-reviews__item">
        <img
          class="customer-reviews__img"
          srcset="
            ./images/mobile/customer-review-diana@1x.jpg 1x,
            ./images/mobile/customer-review-diana@1x.jpg 2x
          "
          src="./images/mobile/customer-review-diana@1x.jpg"
          alt="diana"
          width="85"
        />
        <p class="customer-reviews__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <h3 class="customer-reviews__title">Diana, Chicago</h3>
      </li>
      <li class="customer-reviews__item">
        <img
          class="customer-reviews__img"
          srcset="
            ./images/mobile/customer-review-bryan@1x.jpg 1x,
            ./images/mobile/customer-review-bryan@1x.jpg 2x
          "
          src="./images/mobile/customer-review-bryan@1x.jpg"
          alt="bryan"
          width="85"
        />
        <p class="customer-reviews__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <h3 class="customer-reviews__title">Bryan, New-York</h3>
      </li>
    </ul>
  </div>
</section>
