<section class="gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">gallery</h2>
    <div class="gallery__list images fade">
      <div>
        <a
          class="gallery__link"
          href="./images/desktop/gallery-ice-cream-1-desktop@2x.jpg"
          ><img
            class="gallery__img"
            srcset="
              ./images/desktop/gallery-ice-cream-1-desktop@1x.jpg 1013w,
              ./images/desktop/gallery-ice-cream-1-desktop@2x.jpg 2026w,
              ./images/tablet/gallery-ice-cream-1-tablet@1x.jpg    708w,
              ./images/tablet/gallery-ice-cream-1-tablet@2x.jpg   1408w,
              ./images/mobile/gallery-ice-cream-1-mobile@1x.jpg    279w,
              ./images/mobile/gallery-ice-cream-1-mobile@2x.jpg    558w
            "
            src="./images/mobile/gallery-ice-cream-1-mobile@1x.jpg"
            sizes="(max-width: 767px) 279px, (max-width: 1199px) 708px, 1013px"
            alt="ice cream"
        /></a>
      </div>
      <div>
        <a
          class="gallery__link"
          href="./images/desktop/gallery-ice-cream-2-desktop@2x.jpg"
          ><img
            class="gallery__img"
            srcset="
              ./images/desktop/gallery-ice-cream-2-desktop@1x.jpg 1013w,
              ./images/desktop/gallery-ice-cream-2-desktop@2x.jpg 2026w,
              ./images/tablet/gallery-ice-cream-2-tablet@1x.jpg    708w,
              ./images/tablet/gallery-ice-cream-2-tablet@2x.jpg   1408w,
              ./images/mobile/gallery-ice-cream-2-mobile@1x.jpg    279w,
              ./images/mobile/gallery-ice-cream-2-mobile@2x.jpg    558w
            "
            src="./images/mobile/gallery-ice-cream-2-mobile@1x.jpg"
            sizes="(max-width: 767px) 279px, (max-width: 1199px) 708px, 1013px"
            alt="ice cream"
        /></a>
      </div>
      <div>
        <a
          class="gallery__link"
          href="./images/desktop/gallery-ice-cream-3-desktop@2x.jpg"
          ><img
            class="gallery__img"
            srcset="
              ./images/desktop/gallery-ice-cream-3-desktop@1x.jpg 1013w,
              ./images/desktop/gallery-ice-cream-3-desktop@2x.jpg 2026w,
              ./images/tablet/gallery-ice-cream-3-tablet@1x.jpg    708w,
              ./images/tablet/gallery-ice-cream-3-tablet@2x.jpg   1408w,
              ./images/mobile/gallery-ice-cream-3-mobile@1x.jpg    279w,
              ./images/mobile/gallery-ice-cream-3-mobile@2x.jpg    558w
            "
            src="./images/mobile/gallery-ice-cream-3-mobile@1x.jpg"
            sizes="(max-width: 767px) 279px, (max-width: 1199px) 708px, 1013px"
            alt="ice cream"
        /></a>
      </div>
    </div>
  </div>
</section>
