<div class="container header-hero__container">
  <header class="header">
    <nav class="navigation">
      <a class="logo" href="./index.html"
        ><img
          srcset="
            ./images/desktop/header-desktop-logo@1x.png  60w,
            ./images/desktop/header-desktop-logo@2x.png 120w,
            ./images/tablet/header-tablet-logo@1x.png    48w,
            ./images/tablet/header-tablet-logo@2x.png    96w,
            ./images/mobile/header-mobile-logo@1x.png    40w,
            ./images/mobile/header-mobile-logo@2x.png    80w
          "
          src="./images/mobile/header-mobile-logo@1x.png"
          alt="logo-ice-cream"
          sizes="(max-width: 767px) 40px, (max-width: 1199px) 48px, 60px"
      /></a>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#home">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#how">How it's made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#our">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="btn-box">
      <button class="btn-mobile-menu js-open-menu" type="button">
        <svg width="32" height="32">
          <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="btn btn_buy header__btn" type="button" buynow-modal-open>
        Buy now
        <svg class="btn-svg" width="12" height="12">
          <use href="./images/sprite.svg#icon-angle-right"></use>
        </svg>
      </button>
    </div>
  </header>
  <h1 class="header-hero__title">
    Ice cream made with <span class="header-hero__label">passion</span>
  </h1>
  <div class="btn-container">
    <a class="btn_products" href="#our">Products</a>
    <a class="btn_how-made btn_link" href="#how">How it's made</a>
  </div>
  <div class="ice-table-container">
    <img
      class="ice-table-img"
      srcset="
        ./images/desktop/header-desktop-ice-creams@1x.png 225w,
        ./images/desktop/header-desktop-ice-creams@2x.png 450w,
        ./images/tablet/header-tablet-ice-creams@1x.png   152w,
        ./images/tablet/header-tablet-ice-creams@2x.png   304w
      "
      src="./images/tablet/header-tablet-ice-creams@1x.png"
      alt="plate with ice cream"
      sizes="(max-width: 1199px) 152px, 225px"
    />
    <div class="text-container">
      <p class="ice-table-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <svg class="arrow-icon" width="40" height="15">
        <use href="./images/sprite.svg#icon-frame-57"></use>
      </svg>
    </div>
  </div>
  <ul class="how-many-shops">
    <li class="how-many-shops__item">
      <p class="how-many-shops__number">16</p>
      <p class="how-many-shops__text">cafes</p>
    </li>
    <li class="how-many-shops__item">
      <p class="how-many-shops__number">23</p>
      <p class="how-many-shops__text">food trucks</p>
    </li>
  </ul>

  <div class="img-ice-cream-box">
    <img
      class="ice-cream-img"
      srcset="
        ./images/desktop/header-desktop-img-ice-cream@1x.png 447w,
        ./images/desktop/header-desktop-img-ice-cream@2x.png 894w,
        ./images/tablet/header-tablet-img-ice-cream@1x.png   257w,
        ./images/tablet/header-tablet-img-ice-cream@2x.png   514w,
        ./images/mobile/header-mobile-img-ice-cream@1x.png   157w,
        ./images/mobile/header-mobile-img-ice-cream@2x.png   314w
      "
      src="./images/mobile/header-mobile-img-ice-cream@1x.png"
      sizes="(max-width: 767px) 157px, (max-width: 1199px) 257px, 447px"
      alt="ice cream with smile"
    />
    <img
      class="ice-cream-smile"
      srcset="
        ./images/desktop/desktop-smile@1x.png 384w,
        ./images/desktop/desktop-smile@2x.png 768w,
        ./images/tablet/tablet-smile@1x.png   214w,
        ./images/tablet/tablet-smile@2x.png   428w,
        ./images/mobile/mobile-smile@1x.png   135w,
        ./images/mobile/mobile-smile@2x.png   270w
      "
      src="./images/mobile/mobile-smile@1x.png"
      sizes="(max-width: 767px) 135px, (max-width: 1199px) 214px, 384px"
      alt="ice cream with smile"
    />
  </div>
</div>
<div class="menu-container js-menu-container" id="mobile-menu">
  <a class="logo mobile__logo" href="./index.html"
    ><img
      srcset="
        ./images/desktop/header-desktop-logo@1x.png  60w,
        ./images/desktop/header-desktop-logo@2x.png 120w,
        ./images/tablet/header-tablet-logo@1x.png    48w,
        ./images/tablet/header-tablet-logo@2x.png    96w,
        ./images/mobile/header-mobile-logo@1x.png    40w,
        ./images/mobile/header-mobile-logo@2x.png    80w
      "
      src="./images/mobile/header-mobile-logo@1x.png"
      alt="logo-ice-cream"
      sizes="(max-width: 767px) 40px, (max-width: 1199px) 48px, 60px"
  /></a>
  <button class="menu-toggle js-close-menu">
    <svg width="32" height="32">
      <use href="./images/sprite.svg#icon-ep_close"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a
        href="#home"
        class="mobile-menu__link mobile-menu__link--current js-close-menu js-close-link-home"
        >Home</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#how" class="mobile-menu__link js-close-link-how"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#our" class="mobile-menu__link js-close-link-our"
        >Our products</a
      >
    </li>

    <li class="mobile-menu__item">
      <a href="#contacts" class="mobile-menu__link js-close-link-contacts"
        >Contact</a
      >
    </li>
  </ul>
  <button class="btn btn_buy mobile-btn" type="button" buynowmob-modal-open>
    Buy now
    <svg class=".btn-svg" width="12" height="12">
      <use href="./images/sprite.svg#icon-angle-right"></use>
    </svg>
  </button>
</div>
