.franchise-modal {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--backdrop-bgc);
  z-index: 1000;
  transition: opacity var(--animation), visibility var(--animation);

  background-color: var(--main-text-color);

  border: 2px solid var(--yellow-default);
  border-radius: 10px;

  overflow: auto;

  @media screen and (min-width: 480px) {
    width: 568px;
    height: 668px;
    // top: 10px;
    // transform: translate(-50%);
  }
  // @media screen and (max-width: 767px) {
  //   overflow: scroll;
  // }
}

.franchise-modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.franchise-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;

  cursor: pointer;

  width: 16px;
  height: 16px;

  border: none;
  background-color: var(--main-text-color);

  fill: currentColor;
  transition: color var(--animation);
  &:hover,
  &:focus {
    color: var(--yellow-default-color);
  }
}

.franchise-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;

  cursor: pointer;

  width: 16px;
  height: 16px;
}

.franchise__title {
  font-family: var(--font-seymour-one);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;

  margin-top: 28px;
  margin-left: 29px;
  margin-right: 30px;

  color: var(--black-text-color);

  @media screen and (min-width: 480px) {
    font-size: 19px;
  }
}

.franchise__text {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  margin-top: 20px;
  margin-left: 29px;
  margin-right: 30px;

  color: var(--black-text-color);

  @media screen and (min-width: 481px) {
    font-size: 15px;
  }
}

.franchise__form {
  background-color: var(--main-text-color);
  width: 100%;
  margin-top: 20px;
}

.franchise-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  background-color: var(--main-text-color);
}

.input-container {
  position: relative;
  transition: var(--animation);

  display: flex;
  flex-direction: column;

  border-radius: 10px;

  text-align: center;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-green-color);
}

.modal-input {
  width: 100%;
  height: 32px;

  max-width: 364px;

  background: var(--transparent-yellow);
  border: 1px solid var(--main-green-color);
  border-radius: 10px;

  padding-left: 12px;

  @media screen and (min-width: 480px) {
    width: 364px;
    height: 42px;
  }
}
.modal-input:placeholder-shown {
  border: 1px solid var(--main-green-color);
}
.modal-input:valid:not(:placeholder-shown) {
  border-color: var(--green-accent-color);
}

.modal-input:invalid:not(:placeholder-shown) {
  border-color: var(--red-color);
}

.comment {
  width: 100%;
  height: 64px;
  resize: none;

  padding-top: 8px;
  background: var(--transparent-yellow);
  border: 1px solid var(--main-green-color);
  border-radius: 10px;

  @media screen and (min-width: 480px) {
    width: 364px;
    height: 84px;
  }
}

.submit-btn {
  margin-top: 24px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;

  transition: var(--animation);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 34px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--black-text-color);
  background-color: var(--yellow-default);

  border: none;
  border-radius: 10px;

  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
  &:hover {
    background-color: var(--green-accent-color);
  }

  &:focus {
    background-color: var(--green-accent-color);
    color: var(--main-text-color);
  }

  @media screen and (min-width: 480px) {
    font-size: 14px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
