.products {
  background-color: var(--white-color);
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-position: center;

  @media screen and (min-width: 320px) {
    background-image: url(../images/mobile/products-bg-mob-1x.jpg);
    background-size: contain;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/products-bg-mob-2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/products-bg-tab-1x.jpg);
    padding-top: 60px;
    padding-bottom: 80px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/products-bg-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/desktop/products-bg-desk-1x.jpg);
    padding-top: 60px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/products-bg-desk-2x.jpg);
    }
  }
}

.products__text {
  @include font(18px, 800, 1.22);
  text-align: center;
  text-transform: uppercase;
  color: var(--black-text-color);
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.products__title {
  font-family: var(--font-seymour-one);
  @include font(30px, 400, 1.27);
  text-align: center;
  text-transform: uppercase;
  color: var(--black-text-color);
  margin-top: 12px;
  margin-bottom: 148px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 303px;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    width: calc(100% / 3 - 32px);
  }
  @media screen and (min-width: 1200px) {
    gap: 32px;
    width: calc(100% / 3 - 64px);
  }
}

.products__item {
  position: relative;
}

.products__item-bg {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 0 auto;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 1200px) {
    top: -17px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
  }
}

.products__goods {
  width: 280px;
  height: 420px;
  border-radius: 24px;
  margin: 0 auto;
  margin-bottom: 164px;
  padding: 123px 40px 20px 40px;
  @media screen and (min-width: 768px) {
    padding: 123px 26px 20px 26px;
    width: 224px;
    height: 448px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    padding: 166px 60px 60px 60px;
    width: 370px;
    height: 535px;
  }
}

.products__cream-bg {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    var(--light-grey-color);
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.products__cream-image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;

  background-image: url(../images/mobile/products-mob-cream-1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/products-mob-cream-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/products-tab-cream-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/products-tab-cream-2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    top: -30px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-image: url(../images/desktop/products-desk-cream-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/products-desk-cream-2x.png);
    }
  }
}

.products__cream {
  background: var(--light-green-color);
}

.products__coffee-bg {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    var(--light-grey-color);
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products__coffee-image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;

  background-image: url(../images/mobile/products-mob-coffee-1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/products-mob-coffee-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/products-tab-coffee-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/products-tab-coffee-2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    top: -30px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-image: url(../images/desktop/products-desk-coffee-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/products-desk-coffee-2x.png);
    }
  }
}

.products__coffee {
  background: var(--darkened-yellow-color);
}

.products__milkshakes-bg {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    var(--light-grey-color);
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.products__milkshakes-image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;

  background-image: url(../images/mobile/products-mob-milk-1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/products-mob-milk-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/products-tab-milk-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/products-tab-milk-2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    top: -30px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-image: url(../images/desktop/products-desk-milk-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/products-desk-milk-2x.png);
    }
  }
}

.products__milkshakes {
  background: var(--brown-color);
}

.products__name {
  @include font(20px, 700, 1.22);
  text-align: center;
  text-transform: uppercase;
  color: var(--black-text-color);
  margin-bottom: 40px;
  position: relative;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.products__description {
  @include font(14px, 400, 1.76);
  text-align: center;
  color: var(--black-text-color);
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.btn-choise {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 196px;
  // height: 42px;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  &:hover .products__btn-icon {
    transition: transform var(--animation);
    transform: scaleX(1.25);
  }
  &:focus .products__btn-icon {
    transition: transform var(--animation);
    transform: scaleY(1.25);
  }

  @media screen and (min-width: 768px) {
    bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    bottom: 60px;
  }
}

.products__btn-icon {
  transition: transform var(--animation);
  // width: 40px;
  // height: 32px;
}

// .products__btn-icon:hover {
//   transform: scaleX(1.25);
// }

// .btn-choise:focus {
//   transform: scale(1.25);

//   border: transparent;
// }
